name: MLflow CI + Docker - Stunting XGBoost

on:
  push:
    paths:
      - 'MLProject/**'
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow xgboost scikit-learn pandas numpy

      - name: Run MLflow Project (CI Retraining)
        run: |
          mlflow run MLProject --env-manager=local

      - name: Find latest MLflow model
        run: |
          MODEL_PATH=$(find mlruns -type d -path "*/artifacts/model" | sort -r | head -n 1)
          echo "MODEL_PATH=$MODEL_PATH" >> $GITHUB_ENV
          echo "Model path: $MODEL_PATH"

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_HUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

      - name: Build Docker image from MLflow model
        run: |
          mlflow models build-docker -m $MODEL_PATH -n hafidhshovi/stunting-xgboost

      - name: Push Docker image to Docker Hub
        run: |
          docker push hafidhshovi/stunting-xgboost
